.rm-calendar-day {
    width: 100%;
    height: auto;
    .rm-calendar-day-dayname {
        width: 100%;
        height: 40px;
        padding-left: 74px;
        border: 1px solid rgb(229, 229, 229);
        border-left: none;
        z-index: 999;
        .rm-calendar-day-dayname-area {
            color: #333;
            line-height: 40px;
            .rm-calendar-day-date-num {
                font-size: 26px;
                margin-right: 6px;
            }
        }
    }
    .rm-calendar-allday {
        width: 100%;
        min-height: 26px;
        border-bottom: 1px solid rgb(229, 229, 229);
        position: relative;
        box-shadow: 1px 3px 4px #e5e5e5;
        .rm-calendar-allday-text-container {
            display: inline-block;
            position: absolute;
            left: 0;
            height: 100%;
            width: 74px;
            border-right: 1px solid rgb(229, 229, 229);
            .rm-calendar-allday-text {
                display: inline-block;
                position: absolute;
                top: 50%;
                margin-top: -6px;
                width: 100%;
                text-align: center;
            }
        }
        .rm-calendar-allday-schedules {
            display: inline-block;
            width: calc(100% - 75px);
            position: absolute;
            left: 75px;
            top: 0;
            height: 100%;
            .rm-calendar-schedule-item {
                position: absolute;
                line-height: 26px;
                margin-left: 2px;
                padding-left: 2px;
            }
        }
        .rm-calendar-allday-schedules-num {
            position: absolute;
            text-align: center;
            line-height: 19px;
            z-index: 9999;
            width: calc(100% - 65px);
            margin-left: 65px;
            background: #fff;
            .rm-calendar-allday-schedules-num-text {
                color: #1658bb;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}